@charset "UTF-8";
@import url('styles/cabecalho.css');
@import url('styles/principal.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --cor0: #FBFBFB;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--fonte-principal);
}